#LudoBox{
    height: 1000px;
    width: 1000px;
    background-color: black;
    border: 2px solid maroon;
}

#FirstRow{
    height: 398.4px;
    width: 996px;
    background-color:red;
}

#SecondRow{
    height: 199.2px;
    width: 996px;
    background-color:white;

}

#ThirdRow{
    height: 398.4px;
    width: 996px;
    background-color:blue;
}

#FrB1{
    height: 398.4px;
    width: 398.4;
    background-color:red;
    float: left;
}

#FrB2{
    height: 398.4px;
    width: 199.2px;
    background-color:white;
    float: left;
}

#FrB3{
    height: 398.4px;
    width: 398.4px;
    background-color:yellow;
    float: left;
}

#SrB1{
    height: 199.2px;
    width: 398.4px;
    background-color:white;
    float: left;
}

#SrB2{
    height: 199.2px;
    width: 199.2px;
    background-color:antiquewhite;
    float: left;
}

#SrB3{
    height: 199.2px;
    width: 398.4px;
    background-color:white;
    float: left;
}

#TrB1{
    height: 398.4px;
    width: 398.4;
    background-color:blue;
    float: left;
}

#TrB2{
    height: 398.4px;
    width: 199.2px;
    background-color:white;
    float: left;
}

#TrB3{
    height: 398.4px;
    width: 398.4px;
    background-color:green;
    float: left;
}

/* Red Box */

#FrB1B1{
    height: 398.4px;
    width: 79.68px;
    background-color:red;
    float: left;
}

#FrB1B2{
    height: 398.4px;
    width: 239.04px;
    background-color:white;
    float: left;
}

#FrB1B3{
    height: 398.4px;
    width: 79.68px;
    background-color:red;
    float: left;
}

#FrB1B2B1{
    height: 79.68px;
    width: 239.04px;
    background-color: red;
    
}

#FrB1B2B2{
    height: 239.04px;
    width: 239.04px;
    background-color: white;
    
}

#FrB1B2B3{
    height: 79.68px;
    width: 239.04px;
    background-color: red;
    
}

/* yellow box */

#FrB3B1{
    height: 398.4px;
    width: 79.68px;
    background-color:yellow;
    float: left;
}

#FrB3B2{
    height: 398.4px;
    width: 239.04px;
    background-color:pink;
    float: left;
}

#FrB3B3{
    height: 398.4px;
    width: 79.68px;
    background-color:yellow;
    float: left;
}

#FrB3B2B1{
    height: 79.68px;
    width: 239.04px;
    background-color: yellow;
    
}

#FrB3B2B2{
    height: 239.04px;
    width: 239.04px;
    background-color: white;
    
}

#FrB3B2B3{
    height: 79.68px;
    width: 239.04px;
    background-color: yellow;
    
}

/* Blue box */

#TrB1B1{
    height: 398.4px;
    width: 79.68px;
    background-color:blue;
    float: left;
}

#TrB1B2{
    height: 398.4px;
    width: 239.04px;
    background-color:pink;
    float: left;
}

#TrB1B3{
    height: 398.4px;
    width: 79.68px;
    background-color:blue;
    float: left;
}

#TrB1B2B1{
    height: 79.68px;
    width: 239.04px;
    background-color: blue;
    
}

#TrB1B2B2{
    height: 239.04px;
    width: 239.04px;
    background-color: white;
    
}

#TrB1B2B3{
    height: 79.68px;
    width: 239.04px;
    background-color: blue;
    
}

/* Green Box */

#TrB3B1{
    height: 398.4px;
    width: 79.68px;
    background-color:green;
    float: left;
}

#TrB3B2{
    height: 398.4px;
    width: 239.04px;
    background-color:pink;
    float: left;
}

#TrB3B3{
    height: 398.4px;
    width: 79.68px;
    background-color:green;
    float: left;
}

#TrB3B2B1{
    height: 79.68px;
    width: 239.04px;
    background-color: green;
    
}

#TrB3B2B2{
    height: 239.04px;
    width: 239.04px;
    background-color: white;
    
}

#TrB3B2B3{
    height: 79.68px;
    width: 239.04px;
    background-color: green;
    
}
/* Blue Box inner */
#TrB1B2B2R1{
    height: 25px;
    width: 239.04px;
    background-color: white;
    
}


#TrB1B2B2R2{
    height: 189.04px;
    width: 239.04px;
    background-color: white
    ;
    
}

#TrB1B2B2R3{
    height: 25px;
    width: 239.04px;
    background-color: white;
    
}

#TrB1B2B2R2R1{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#TrB1B2B2R2R2{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#TrB1B2B2R2R3{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#TrB1B2B2R2R1C1{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#TrB1B2B2R2R1C2{
    height: 63.01px;
    width: 47.808px;
    background-color: blue;
    float: left;
}

#TrB1B2B2R2R1C3{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#TrB1B2B2R2R1C4{
    height: 63.01px;
    width: 47.808px;
    background-color: blue;
    float: left;
}

#TrB1B2B2R2R1C5{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

/* ------ */

#TrB1B2B2R2R3C1{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#TrB1B2B2R2R3C2{
    height: 63.01px;
    width: 47.808px;
    background-color: blue;
    float: left;
}

#TrB1B2B2R2R3C3{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#TrB1B2B2R2R3C4{
    height: 63.01px;
    width: 47.808px;
    background-color: blue;
    float: left;
}

#TrB1B2B2R2R3C5{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

/* Green Box Inner */

#TrB3B2B2R1{
    height: 25px;
    width: 239.04px;
    background-color: white;
    
}


#TrB3B2B2R2{
    height: 189.04px;
    width: 239.04px;
    background-color: white
    ;
    
}

#TrB3B2B2R3{
    height: 25px;
    width: 239.04px;
    background-color: white;
    
}

#TrB3B2B2R2R1{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#TrB3B2B2R2R2{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#TrB3B2B2R2R3{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#TrB3B2B2R2R1C1{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#TrB3B2B2R2R1C2{
    height: 63.01px;
    width: 47.808px;
    background-color: green;
    float: left;
}

#TrB3B2B2R2R1C3{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#TrB3B2B2R2R1C4{
    height: 63.01px;
    width: 47.808px;
    background-color: green;
    float: left;
}

#TrB3B2B2R2R1C5{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

/* ------ */

#TrB3B2B2R2R3C1{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#TrB3B2B2R2R3C2{
    height: 63.01px;
    width: 47.808px;
    background-color: green;
    float: left;
}

#TrB3B2B2R2R3C3{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#TrB3B2B2R2R3C4{
    height: 63.01px;
    width: 47.808px;
    background-color: green;
    float: left;
}

#TrB3B2B2R2R3C5{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

/* Red Box Inner */

#FrB1B2B2R1{
    height: 25px;
    width: 239.04px;
    background-color: white;
    
}


#FrB1B2B2R2{
    height: 189.04px;
    width: 239.04px;
    background-color: white
    ;
    
}

#FrB1B2B2R3{
    height: 25px;
    width: 239.04px;
    background-color: white;
    
}

#FrB1B2B2R2R1{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#FrB1B2B2R2R2{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#FrB1B2B2R2R3{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#FrB1B2B2R2R1C1{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#FrB1B2B2R2R1C2{
    height: 63.01px;
    width: 47.808px;
    background-color: red;
    float: left;
}

#FrB1B2B2R2R1C3{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#FrB1B2B2R2R1C4{
    height: 63.01px;
    width: 47.808px;
    background-color: red;
    float: left;
}

#FrB1B2B2R2R1C5{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

/* ------ */

#FrB1B2B2R2R3C1{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#FrB1B2B2R2R3C2{
    height: 63.01px;
    width: 47.808px;
    background-color: red;
    float: left;
}

#FrB1B2B2R2R3C3{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#FrB1B2B2R2R3C4{
    height: 63.01px;
    width: 47.808px;
    background-color: red;
    float: left;
}

#FrB1B2B2R2R3C5{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

/* Yellow Box Inner */

#FrB3B2B2R1{
    height: 25px;
    width: 239.04px;
    background-color: white;
    
}


#FrB3B2B2R2{
    height: 189.04px;
    width: 239.04px;
    background-color: white
    ;
    
}

#FrB3B2B2R3{
    height: 25px;
    width: 239.04px;
    background-color: white;
    
}

#FrB3B2B2R2R1{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#FrB3B2B2R2R2{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#FrB3B2B2R2R3{
    height: 63.1px;
    width: 239.04px;
    background-color: white;
    
}

#FrB3B2B2R2R1C1{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#FrB3B2B2R2R1C2{
    height: 63.01px;
    width: 47.808px;
    background-color: yellow;
    float: left;
}

#FrB3B2B2R2R1C3{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#FrB3B2B2R2R1C4{
    height: 63.01px;
    width: 47.808px;
    background-color: yellow;
    float: left;
}

#FrB3B2B2R2R1C5{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

/* ------ */

#FrB3B2B2R2R3C1{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#FrB3B2B2R2R3C2{
    height: 63.01px;
    width: 47.808px;
    background-color:yellow;
    float: left;
}

#FrB3B2B2R2R3C3{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

#FrB3B2B2R2R3C4{
    height: 63.01px;
    width: 47.808px;
    background-color: yellow;
    float: left;
}

#FrB3B2B2R2R3C5{
    height: 63.01px;
    width: 47.808px;
    background-color: white;
    float: left;
}

/* Play Area 2 FrB2 */

#FrB2B1{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#FrB2B2{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#FrB2B3{
    width:65.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#FrB2B4{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#FrB2B5{
    width:64.4px;
    height:64.4px;
    background-color: yellow;
    border:1px solid black;
    float:left;
}

#FrB2B6{
    width:65.4px;
    height:64.4px;
    background-color: yellow;
    border:1px solid black;
    float:left;
}

#FrB2B7{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#FrB2B8{
    width:64.4px;
    height:64.4px;
    background-color: yellow;
    border:1px solid black;
    float:left;
}

#FrB2B9{
    width:65.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#FrB2B10{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#FrB2B11{
    width:64.4px;
    height:64.4px;
    background-color: yellow;
    border:1px solid black;
    float:left;
}

#FrB2B12{
    width:65.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#FrB2B13{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#FrB2B14{
    width:64.4px;
    height:64.4px;
    background-color: yellow;
    border:1px solid black;
    float:left;
}

#FrB2B15{
    width:65.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#FrB2B16{
    width:64.4px;
    height:68px;
    border:1px solid black;
    float:left;
}

#FrB2B17{
    width:64.4px;
    height:68px;
    background-color: yellow;
    border:1px solid black;
    float:left;
}

#FrB2B18{
    width:65.4px;
    height:68px;
    border:1px solid black;
    float:left;
}

/* Play Area1 SrB1 */

#SrB1B1{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB1B2{
    width:64.4px;
    height:64.4px;
    background-color: red;
    border:1px solid black;
    float:left;
}

#SrB1B3{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB1B4{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB1B5{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB1B6{
    width:68px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB1B7{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB1B8{
    width:64.4px;
    height:64.4px;
    background-color: red;
    border:1px solid black;
    float:left;
}

#SrB1B9{
    width:64.4px;
    height:64.4px;
    background-color: red;
    border:1px solid black;
    float:left;
}

#SrB1B10{
    width:64.4px;
    height:64.4px;
    background-color: red;
    border:1px solid black;
    float:left;
}

#SrB1B11{
    width:64.4px;
    height:64.4px;
    background-color:red;
    border:1px solid black;
    float:left;
}

#SrB1B12{
    width:68px;
    height:64.4px;
    background-color: red;
    border:1px solid black;
    float:left;
}

#SrB1B13{
    width:64.4px;
    height:67px;
    border:1px solid black;
    float:left;
}

#SrB1B14{
    width:64.4px;
    height:67px;
    border:1px solid black;
    float:left;
}

#SrB1B15{
    width:64.4px;
    height:67px;
    border:1px solid black;
    float:left;
}

#SrB1B16{
    width:64.4px;
    height:67px;
    border:1px solid black;
    float:left;
}

#SrB1B17{
    width:64.4px;
    height:67px;
    border:1px solid black;
    float:left;
}

#SrB1B18{
    width:68px;
    height:67px;
    border:1px solid black;
    float:left;
}

/* Play Area3 SrB3 */

#SrB3B1{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB3B2{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB3B3{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB3B4{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB3B5{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB3B6{
    width:68px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB3B7{
    width:64.4px;
    height:64.4px;
    background-color: green;
    border:1px solid black;
    float:left;
}

#SrB3B8{
    width:64.4px;
    height:64.4px;
    background-color: green;
    border:1px solid black;
    float:left;
}

#SrB3B9{
    width:64.4px;
    height:64.4px;
    background-color: green;
    border:1px solid black;
    float:left;
}

#SrB3B10{
    width:64.4px;
    height:64.4px;
    background-color: green;
    border:1px solid black;
    float:left;
}

#SrB3B11{
    width:64.4px;
    height:64.4px;
    background-color: green;
    border:1px solid black;
    float:left;
}

#SrB3B12{
    width:68px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#SrB3B13{
    width:64.4px;
    height:67px;
    border:1px solid black;
    float:left;
}

#SrB3B14{
    width:64.4px;
    height:67px;
    border:1px solid black;
    float:left;
}

#SrB3B15{
    width:64.4px;
    height:67px;
    border:1px solid black;
    float:left;
}

#SrB3B16{
    width:64.4px;
    height:67px;
    border:1px solid black;
    float:left;
}

#SrB3B17{
    width:64.4px;
    height:67px;
    background-color: green;
    border:1px solid black;
    float:left;
}

#SrB3B18{
    width:68px;
    height:67px;
    border:1px solid black;
    float:left;
}

/* Play Area4 TrB2 */

#TrB2B1{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#TrB2B2{
    width:64.4px;
    height:64.4px;
    background-color: blue;
    border:1px solid black;
    float:left;
}

#TrB2B3{
    width:66.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#TrB2B4{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#TrB2B5{
    width:64.4px;
    height:64.4px;
    background-color: blue;
    border:1px solid black;
    float:left;
}

#TrB2B6{
    width:66.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#TrB2B7{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#TrB2B8{
    width:64.4px;
    height:64.4px;
    background-color: blue;
    border:1px solid black;
    float:left;
}

#TrB2B9{
    width:66.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#TrB2B10{
    width:64.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#TrB2B11{
    width:64.4px;
    height:64.4px;
    background-color: blue;
    border:1px solid black;
    float:left;
}

#TrB2B12{
    width:66.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#TrB2B13{
    width:64.4px;
    height:64.4px;
    background-color: blue;
    border:1px solid black;
    float:left;
}

#TrB2B14{
    width:64.4px;
    height:64.4px;
    background-color: blue;
    border:1px solid black;
    float:left;
}

#TrB2B15{
    width:66.4px;
    height:64.4px;
    border:1px solid black;
    float:left;
}

#TrB2B16{
    width:64.4px;
    height:69px;
    border:1px solid black;
    float:left;
}

#TrB2B17{
    width:64.4px;
    height:69px;
    border:1px solid black;
    float:left;
}

#TrB2B18{
    width:66.4px;
    height:69px;
    border:1px solid black;
    float:left;
}

/* -------- */

#champ{
    height: 199.2px;
    width: 199.2px;
    align-items: center;
}





















