#page{
    width: 700px;
    height: 1100px;
    border: 2px solid black;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: white;

}

header{
    width:698px;
    height:240px;
}

#topSpace{
    width:698px;
    height:100px;
     /* border:1px solid red;    */
}
#secondtopspace{
    width: 698px;
    height: 20px;
    /* border: 1px solid green; */
    
}
#secspaceb1{
    width: 231.66px;
    height: 20px;
    /* border:1px solid red; */
    float: left;

}
#secspaceb2{
    width: 231.66px;
    height: 20px;
    /* border:1px solid red; */
    float: left;

}
#secspaceb3{
    width: 228.66px;
    height: 20px;
    /* border:1px solid red; */
    float: left;

}
#secspaceb3 p{
    margin:0;
    margin-top:3px;

    text-align:center;

    font-family:Arial, Helvetica, sans-serif;
    font-size:9px;
    font-weight:bold;
    color:#555555;

    letter-spacing:0.5px;
}


#headertop{
    width: 698px;
    height: 100px;
    /* border:1px solid red; */
}

#news{
    height: 100px;
    width: 232.66px;
    background-color: #4ba6d9;
    float: left;

}
#news p{
    
    margin: 0;
    margin-top: 16px;
    margin-left: 75px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}
#letter{
    height: 100px;
    width: 233.66px;
    background-color: white;
    float:left;

}

#letter p{
    margin: 0;
    margin-top: 16px;
    margin-left: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #4f4f4f;
}

#text{
    height: 100px;
    width: 230.66px;
    background-color: #4ba6d9;
    float: left;
}

#text p{
    margin:0;
    margin-top:10px;
    margin-left:12px;
    margin-right:12px;

    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:18px;
}

#about{
    width: 696px;
    height: 20px;
    /* border: 1px solid red; */
}
#about p{
    margin:0;
    margin-top:10px;

    text-align:center;

    font-family:Arial, Helvetica, sans-serif;
    font-size:9px;
    font-style:italic;
    color:#666666;
    font-weight: bolder;
    letter-spacing:0.3px;
}

#bluestrip{
    width: 697;
    height: 10px;
    background-color: #4ba6d9;
}

#body{
    width:697px;
    height:830px;
    border: 1px solid red;
}
#leftbody{
    width: 328.2px;
    height: 810px;
    border: 1px solid green;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 80px
}
#mainHeading{
    width:328.2px;
    height:60px;
    /* border:1px solid maroon; */
    box-sizing:border-box;
}

#mainHeading h2{
    margin:0;
    

    font-family:Arial, Helvetica, sans-serif;
    font-size:28px;
    font-weight:900;
    color:#444;

    line-height:24px;   /* Reduce gap between lines */
}
.divider{
    width: 328.2px;
    height: 2.5px;
    background-color: black;
}
#article1{
    width:328.2px;
    height:260px;
     border:1px solid blue; 
}

#articleLeft{
    width:150px;
    height:260px;
    float:left;
    margin-right:28.2px;
    border:1px solid red;
}

#articleRight{
    width:146px;
    height:260px;
    float:left;
    border:1px solid green;
}
#articleLeft p,
#articleRight p{
    margin:0;
    font-family:Georgia, "Times New Roman", serif;
    font-size:9px;
    line-height:12px;
    color:#555;
    text-align:justify;
}
#rightbody{
    width: 264.2px;
    height: 810px;
    border: 1px solid blue;
    float: left;
    
    margin-top: 20px;
   
}